[color]
  branch = auto
  diff = always
  ui = always
[color "branch"]
  current = green
  local = yellow
  remote = cyan
[color "diff"]
  meta = white
  frag = cyan bold
  func = magenta
  old = red
  new = green
  whitespace = red reverse
[color "status"]
  added = green
  changed = yellow
  updated = yellow bold
  untracked = cyan
[alias]
  aliases = !git config --get-regexp '^alias\\..*' | cut -c 7- | sed 's/ / = /' | sort
  s = status -sb
  st = status
  br = branch
  ci = commit
  co = checkout
  l = log --oneline --decorate
  track = !sh -c 'git branch --track "$0" "origin/$0" && git checkout "$0"'
  # untracked = "!git ls-files --others --exclude-standard"
  log-full = log --pretty=fuller --stat
  # log-one = log --pretty=one --stat
  # log-files = log --stat
  # ll = log @{upstream}.. --oneline --decorate
  # llog = log @{upstream}.. --decorate
[user]
  name = Leonardo Crauss Daronco
  email = leonardodaronco@gmail.com
[format]
  pretty = format:"%Cblue%H%Creset %Cgreen%s %Creset%n  %ad %m %ae"
[merge]
  tool = meld
  verbosity = 3
[core]
  editor = vim
