[color]
  branch = auto
  diff = always
  ui = always
[color "branch"]
  current = green
  local = cyan
  remote = yellow
[color "diff"]
  meta = white
  frag = cyan bold
  func = magenta
  old = red
  new = green
  whitespace = red reverse
[color "status"]
  added = green
  changed = yellow
  updated = green
  untracked = red
[alias]
  aliases = !git config --get-regexp '^alias\\..*' | cut -c 7- | sed 's/ / = /' | sort
  br-clean = !git branch --merged master | grep -v 'master$' | xargs git branch -d
  # bf = !sh -c 'for branch in `git branch | grep -v HEAD`; do echo -e `git show --format="%ci %an" $branch | head -n 1` \\t$branch; done | sort -r'
  br = branch
  ci = commit
  co = checkout
  c-p = cherry-pick
  lf = log --pretty=fuller --stat
  ll = log @{upstream}.. --oneline --pretty=custom
  l = log --pretty=custom
  pick = cherry-pick
  s = status -sb
  st = status
  track = !sh -c 'git branch --track "$0" "origin/$0" && git checkout "$0"'
  # untracked = "!git ls-files --others --exclude-standard"
  # log-one = log --pretty=one --stat
  # log-files = log --stat
  # llog = log @{upstream}.. --decorate
[user]
  name = Leonardo Crauss Daronco
  email = leonardodaronco@gmail.com
[format]
  pretty = format:"%Cblue%H%Creset %Cgreen%s %Creset%n  %ad %m %ae"
[pretty]
  custom = "%C(red)%H %C(white)-%C(cyan)%d %C(white)%s %C(green)(%ar) %C(cyan)<%an>"
  #                 │                   │           │            │             └─ author name
  #                 │                   │           │            └─ date (relative)
  #                 │                   │           └─ message
  #                 │                   └─ decorations (branch, heads or tags)
  #                 └─ hash (abbreviated)
  custom2 = "%C(magenta)%h%C(cyan)%d %C(yellow)%ar %C(white)%s %C(yellow)(%an)"
  #                      │        │            │            │             └─ author name
  #                      │        │            │            └─ message
  #                      │        │            └─ date (relative)
  #                      │        └─ decorations (branch, heads or tags)
  #                      └─ hash (abbreviated)
[merge]
  tool = meld
  verbosity = 3
[core]
  editor = vim
[gui]
	fontui = -family \"DejaVu Sans\" -size 10 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family \"DejaVu Sans Mono\" -size 10 -weight normal -slant roman -underline 0 -overstrike 0
[url "git@github.com:"]
	insteadOf = https://github.com
